/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */

html {
  /* sticky footer fix */
  position: relative;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: $global-font-family;
  line-height: 1.5;

  &.overflow--hidden {
    /* when primary navigation is visible, the content in the background won't scroll */
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2em 0 0.5em;
  line-height: 1.2;
  font-family: $header-font-family;
  font-weight: bold;
}

h1 {
  margin-top: 0;
  font-size: $h-size-1;
}

h2 {
  font-size: $h-size-2;
}

h3 {
  font-size: $h-size-3;
}

h4 {
  font-size: $h-size-4;
}

h5 {
  font-size: $h-size-5;
}

h6 {
  font-size: $h-size-6;
}

small,
.small {
  font-size: $type-size-6;
}

p {
  margin-bottom: 1.3em;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid $text-color;
  a {
    color: inherit;
  }
}

del a {
  color: inherit;
}

/* reduce orphans and widows when printing */

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
  orphans: 3;
  widows: 3;
}

/* abbreviations */

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted $text-color;
}

/* blockquotes */

blockquote {
  margin-block: 2em;
  margin-inline-end: 1em;
  padding-inline: 1em;
  font-style: italic;
  border-inline-start: 0.25em solid $primary-color;

  cite {
    font-style: italic;

    &::before {
      content: "\2014";
      padding-inline-end: 5px;
    }
  }
}

/* links */

a {
  &:focus {
    @extend %tab-focus;
  }

  &:visited {
    color: $link-color-visited;
  }

  &:hover {
    color: $link-color-hover;
    outline: 0;
  }
}

/* buttons */

button:focus {
  @extend %tab-focus;
}

/* code */

tt,
code,
kbd,
samp,
pre {
  font-family: $monospace;
}

pre {
  overflow-x: auto; /* add scrollbars to wide code blocks*/
}

/* horizontal rule */

hr {
  display: block;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid $border-color;
}

/* lists */

ul li,
ol li {
  margin-bottom: 0.5em;
}

li ul,
li ol {
  margin-top: 0.5em;
}

/*
   Media and embeds
   ========================================================================== */

/* Figures and images */

figure {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2em 0;

  img,
  iframe,
  .fluid-width-video-wrapper {
    margin-bottom: 1em;
  }

  img {
    width: 100%;
    border-radius: $border-radius;
    -webkit-transition: $global-transition;
    transition: $global-transition;
  }

  > a {
    display: block;
  }

  &.half {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(50% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }

  &.third {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(33.3333% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }
}

/* Figure captions */

figcaption {
  margin-bottom: 0.5em;
  color: $muted-text-color;
  font-family: $caption-font-family;
  font-size: $type-size-6;

  a {
    -webkit-transition: $global-transition;
    transition: $global-transition;

    &:hover {
      color: $link-color-hover;
    }
  }
}

/* Quotes */
.quote {
  margin: 1.5em 0;
  padding: 1em 1.25em;
  border-left: 4px solid $primary-color;
  background: mix(#fff, $primary-color, 95%);
  border-radius: $border-radius;
}

.quote__text {
  margin: 0;
  font-style: italic;
}

.quote__author {
  margin-top: 0.5em;
  color: $muted-text-color;
  font-size: $type-size-6;
}

/* Gallery layout */
.gallery {
  display: grid;
  gap: 1em;
  margin: 2em 0;
}

.gallery__item {
  margin: 0;
  position: relative;
  overflow: hidden;
  border-radius: $border-radius;
}

.gallery__item img {
  display: block;
  width: 100%;
  height: auto;
}

.gallery__caption {
  position: absolute;
  inset-inline: 0;
  bottom: 0;
  padding: 0.5em 0.75em;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  font-family: $caption-font-family;
  font-size: $type-size-6;
}

.gallery--half {
  @include breakpoint($small) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.gallery--third {
  @include breakpoint($small) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* Skills */
.skills {
  display: grid;
  gap: 1em;
  margin: 2em 0;
}

.skill-card {
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 1em;
  padding: 1em;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background: #fff;
}

.skill-card__icon {
  font-size: 1.75em;
  color: $primary-color;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.skill-card__title {
  margin: 0 0 0.25em;
}

.skill-card__badges {
  list-style: none;
  margin: 0 0 0.5em;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.skill-card__badges li {
  background: $border-color;
  padding: 0.2em 0.6em;
  border-radius: 999px;
  font-size: $type-size-7;
}

.skill-card__text {
  margin: 0 0 0.5em;
}

.skill-card__meta {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.skill-card__meta-label {
  font-size: $type-size-7;
  color: $muted-text-color;
}

.skill-card__meta-value {
  display: inline-block;
  padding: 0.15em 0.6em;
  border-radius: 999px;
  background: mix(#fff, $primary-color, 90%);
  color: $text-color;
  font-size: $type-size-7;
  font-weight: 600;
}

/* CV download call-to-action */
.cv-download {
  margin: 2em 0;
  padding: 1.5em;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background: #fff;
}

.cv-download__title {
  margin-top: 0;
}

.cv-download__text {
  margin-bottom: 1em;
}

/* Google Form embed */
.google-form {
  margin: 2em 0;
}

.google-form__title {
  margin-bottom: 0.75em;
}

.google-form__iframe {
  width: 100%;
  border: 0;
}

/* Fix IE9 SVG bug */

svg:not(:root) {
  overflow: hidden;
}

/*
   Navigation lists
   ========================================================================== */

/**
 * Removes margins, padding, and bullet points from navigation lists
 *
 * Example usage:
 * <nav>
 *    <ul>
 *      <li><a href="#link-1">Link 1</a></li>
 *      <li><a href="#link-2">Link 2</a></li>
 *      <li><a href="#link-3">Link 3</a></li>
 *    </ul>
 *  </nav>
 */

nav {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  /* override white-space for nested lists */
  ul li,
  ol li {
    margin-bottom: 0;
  }

  li ul,
  li ol {
    margin-top: 0;
  }
}

/*
   Global animation transition
   ========================================================================== */

b,
i,
strong,
em,
blockquote,
p,
q,
span,
figure,
img,
h1,
h2,
header,
input,
a,
tr,
td,
form button,
input[type="submit"],
.btn,
.highlight,
.archive__item-teaser {
  -webkit-transition: $global-transition;
  transition: $global-transition;
}
